@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.list {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2px;
  position: relative;
}

.list li {
  /* border: 1px solid black; */
  height: 15px;
  width: 15px;
  font-size: 10px;
  /* position: relative; */
}

.list li:hover {
  outline: 1px solid black;
}

.alert {
  width: 145px;
  z-index: 99;
  position: absolute;
  background: black;
  border-radius: 3px;
  padding: 6px 9px;
  text-align: center;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.alert::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 10px solid transparent;
  border-top: 10px solid black;
}

.days {
  position: relative;
  font-size: 8px;
  color: #959494;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  align-items: center;
  gap: 1px;
  list-style: none;
}

.footer div {
  height: 15px;
  width: 15px;
  font-size: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}


.month {
  top: -17px;
  position: absolute;
  color: #959494;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.alert_contri {
  color: white;
  font-size: 12px;
}

.alert_date {
  font-size: 10px;
  color: #7C7C7C;
}

.alert_relative {
  position: relative;
}

.footer span {
  display: block;
  margin: 0 2px;
  color: #959494;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}